<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  <title>Welcome Page</title>

  <link rel="shortcut icon" href="icon/icon.ico" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link href="css/landing-page.min.css" rel="stylesheet">

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="../js/index.js"></script>

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <a class="navbar-brand" href="#">Journeys collection</a>
    <div class="container" style="margin-right:10rem">
      <a id="future-plan" class="btn btn-primary info" href="#">Future Plan</a>
      <!-- <a id="info-btn" class="btn btn-primary info" href="#">About me</a> -->
    </div>
  </nav>
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5" style="color:aliceblue">Welcome to my journey</h1>
          <a href="/main">
            <h2>Let's go</h2>
          </a>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="img-reponsive">

          </div>
        </div>
      </div>
    </div>
  </header>
</body>

</html>