<!DOCTYPE html>
<html>

<head lang="en">
  <%- include ./common/head %>

  <meta charset="utf-8">

  <title>My traveling album</title>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="stylesheet" type="text/css" href="css/main.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="../js/main.js"></script>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="container-fluid" id="content">
    <div class="jumbotron">
      <h3>
        <strong>Nguyễn Hoàng Vũ</strong>
      </h3>
      <p>A make-for-fun website. Inspired by my trips! ^^</p>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div id="visit_da_lat text-center">
          <button class="btn-primary" id='btn_visit_da_lat'>
            <a href="/dalat" style="color:white">
              <span>Visit Đà Lạt 2017</span>
            </a>
          </button>
        </div>
        <div class="sidebar-nav">
          <div class="navbar navbar-default menu-custom" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="visible-xs navbar-brand">Menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse" style="transition-delay: 2s">
              <ul class="nav navbar-nav">
                <li class="active">
                  <a href="main.html">Main Page
                    <span style="float:right" class="glyphicon glyphicon-home"></span>
                  </a>
                </li>
                <li>
                  <a href="/vungtau">Vũng Tàu</a>
                </li>
                <li>
                  <a href="/suoimo">Đồng Nai - Suối Mơ</a>
                </li>
                <li>
                  <a href="/dalat">Đà Lạt 2016</a>
                </li>
                <li>
                  <a href="/travinh">Trà Vinh</a>
                </li>
                <li>
                  <a href="/video">Video</a>
                </li>
              </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
          <ol class="carousel-indicators">
            <!-- Indicators -->
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner text-center">
            <div class="item active">
              <a href="/vungtau">
                <img src="IntroduceImage/VungTau.jpg" alt="Vũng Tàu">
                <div class="carousel-caption">
                  <h3>Vũng Tàu</h3>
                  <h4>Lần đầu đi Vũng Tàu bằng xe máy</h4>
                </div>
              </a>
            </div>

            <div class="item">
              <a href="/suoimo">
                <img src="IntroduceImage/SuoiMo.jpg" alt="Suối Mơ">
                <div class="carousel-caption">
                  <h3>Suối Mơ</h3>
                  <h4>Khởi đầu chuyến đi 11 tiếng</h4>
                </div>
              </a>
            </div>

            <div class="item">
              <a href="/dalat">
                <img src="IntroduceImage/DaLat.jpg" alt="Đà Lạt">
                <div class="carousel-caption">
                  <h3>Đà Lạt</h3>
                  <h4>Chuyến đi đầu tiên</h4s>
                </div>
              </a>
            </div>

            <div class="item">
              <img src="IntroduceImage/DaLat_HTN.jpg" alt="Đà Lạt">
              <div class="carousel-caption">
                <h3>Đà Lạt</h3>
                <h4>Một chuyến đi đặc biệt</h4s>
              </div>
            </div>

            <div class="item">
              <a href="/travinh">
                <img src="IntroduceImage/TraVinh.jpg" alt="Trà Vinh">
                <div class="carousel-caption">
                  <h3>Trà Vinh</h3>
                  <h4>Về quê</h4s>
                </div>
              </a>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer class="navbar-default" id="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center custom-contact">
          <ul class="social social-circle list-inline">
            <li>
              <a href="https://www.facebook.com/hoangvu.nguyen.750" class="icoFacebook">
                <i class="fa fa-facebook-official" style="font-size:40px;"></i>
              </a>
            </li>
          </ul>
          <i class="material-icons" style="font-size:15px">email</i> hoangvu271297@gmail.com
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-12 widget text-center">© 2018 | Created by Peter Schmeichel</div>
      </div>
    </div>
  </footer>
</body>

</html>