<!DOCTYPE html>
<html>

<head>
  <%- include ./common/head %>
    <meta charset="utf-8">
    <title>Trà Vinh</title>

    <link rel="stylesheet" type="text/css" href="css/travinh.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="js/travinh.js"></script>
</head>

<body>
  <%- include ./common/menu %>
    <div class="bgimg">
      <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
        <p>
          I'm working on it
        </p>
      </div>
    </div>
  
</body>

</html>