<!DOCTYPE html>
<html>

<head>
  <%- include ./common/head %>
    <meta charset="utf-8">

    <title>Video</title>

    <meta charset="utf-8">

    <link rel="shortcut icon" href="icon/icon.ico" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" type="text/css" href="css/video.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="js/video.js"></script>

</head>

<body>
  <%- include ./common/menu %>
    <div class="container-fluid">
      <div class="jumbotron">
        <h3>
          <strong>Nguyễn Hoàng Vũ</strong>
        </h3>
        <p>A make-for-fun website. Inspired by my trips! ^^</p>
        <p>Here is videos collection</p>
      </div>
      <div class="text-center" style="margin-bottom:30px">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/HXvHLwukKT8?autoplay=1" allowfullscreen>
        </iframe>
      </div>
      <div class="text-center" style="margin-bottom:30px">
        <iframe width="960" height="540" src="https://youtube.com/embed/J2UBzsuva24?autoplay=1" allowfullscreen>
        </iframe>
      </div>
    </div>
    <footer class="navbar-default">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center custom-contact">
            <ul class="social social-circle list-inline">
              <li>
                <a href="https://www.facebook.com/hoangvu.nguyen.750" class="icoFacebook">
                  <i class="fa fa-facebook-official" style="font-size:40px;"></i>
                </a>
              </li>
            </ul>
            <i class="material-icons" style="font-size:15px">email</i> hoangvu271297@gmail.com
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-12 widget text-center">© 2018 | Created by Peter Schmeichel</div>
        </div>
      </div>
    </footer>
</body>

</html>