<!DOCTYPE html>
<html>

<head>
  <%- include ./common/head %>
    <meta charset="utf-8">

    <title>Vũng Tàu trips</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" type="text/css" href="css/vungtau.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />

    <script src="https://unpkg.com/sweetalert2@7.18.0/dist/sweetalert2.all.js"></script>

    <script src="js/vungtau.js"></script>
</head>

<body>
  <div class="button" id="menu-btn">
    <a class="btn-open" href="#"></a>
  </div>
  <div class="overlay">
    <div class="wrap">
      <ul class="wrap-nav">
        <li>
          <a href="/">Welcome Page</a>
          <ul>
            <li>
              <a href="/main">Main Page</a>
            </li>
            <li>
              <a href="/vungtau">Vũng Tàu</a>
            </li>
            <li>
              <a href="/suoimo">Đồng Nai - Suối Mơ</a>
            </li>
            <li>
              <a href="/dalat">Đà Lạt</a>
            </li>
            <li>
              <a href="/travinh">Trà Vinh</a>
            </li>
            <li>
              <a href="/video">Video</a>
            </li>
          </ul>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="jumbotron">
      <h3>
        <strong>Nguyễn Hoàng Vũ</strong>
      </h3>
      <p>A make-for-fun website. Inspired by my trips! ^^ Welcome to Vũng Tàu</p>
    </div>
  </div>
  <div class="container-fluid" id="introDiv">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="thumbnail text-center" style="background-color:black; padding:0">
          <img class="img-responsive" src="images/vung_tau/VungTau2016_4.jpg" id="introVungTau" />
          <div class="caption">
            <p>Welcome to Vũng Tàu</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title">Vũng Tàu is a coastal city</h1>
      </div>

      <div align="center">
        <button class="btn btn-default filter-button" data-filter="all">All</button>
        <button class="btn btn-default filter-button" data-filter="2016">2016 - First Trip</button>
        <button class="btn btn-default filter-button" data-filter="2018">2018 - A Quick Trip</button>
        <button class="btn btn-default filter-button" data-filter="2018_FamilyTeam">2018 - Family Team </button>
      </div>
      <br/>

      <% images.forEach(function(image){%>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter <%= image.filter %>">
          <img src="<%= image.dir %>" class="img-responsive" />
        </div>
        <%}) %>

    </div>
  </div>
  <footer class="navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center custom-contact">
          <ul class="social social-circle list-inline">
            <li>
              <a href="https://www.facebook.com/hoangvu.nguyen.750" class="icoFacebook">
                <i class="fa fa-facebook-official" style="font-size:40px;"></i>
              </a>
            </li>
          </ul>
          <i class="material-icons" style="font-size:15px">email</i> hoangvu271297@gmail.com
        </div>
        <div class="col-md-4"></div>

        <div class="col-md-12 widget text-center">© 2018 | Created by Peter Schmeichel</div>
      </div>
    </div>
  </footer>
  <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="" class="enlargeImageModalSource" width="100%" height="100%">
        </div>
      </div>
    </div>
  </div>
</body>

</html>