  html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

  .jumbotron {
    padding-top: 0.05em !important;
    padding-bottom: 0.05em !important;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }

  .menu-custom {
    background-color: #222 !important;
    border-color: #080808 !important;
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  .sidebar-nav .navbar ul {
    float: none
  }

  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }

  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar-inverse .navbar-nav>li>a {
    color: white !important;
  }

  .navbar-inverse .navbar-nav>li>a:hover {
    color: red !important;
  }

  .navbar-default .navbar-nav>.active>a {
    color: #fff !important;
    background-color: #080808 !important;
  }

  .navbar-default .navbar-nav>li>a:hover {
    color: #fff !important;
    background-color: #080808 !important;
  }

  .dropdown-menu {
    position: inherit !important;
  }

  .navbar-default .navbar-nav>.open>a {
    color: white !important;
    background-color: black !important;
  }

  .icoRss {
    color: red;
  }

  .carousel-control.left {
    background-image: none !important;
  }

  .carousel-control.right {
    background-image: none !important;
  }

  .custom-contact {
    padding-top: 0.7em;
  }

  .carousel-indicators li {
    background-color: white !important;
    border: 1px solid black !important;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: white !important;
  }

  .embed-responsive iframe {
    width: 960px !important;
    height: 540px !important;
  }

  .video {
    max-width: 100%;
    height: auto;
  }

  footer {
    background-color: #eee !important;
  }

  .item {
    float: right;
  }
