/* Set height to 100% for body and html to enable the background image to cover the whole page: */

body, html {
    height: 100%;
    margin: 0 !important
  }
  
  .bgimg {
    background-image: url('../images/travinh.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 100%;
  }
  
  .button {
    display: inline;
    position: absolute;
    right: 50px;
    top: 6px;
    z-index: 999;
    font-size: 30px;
  }
  
  .button a {
    text-decoration: none;
  }
  
  .btn-open:after {
    color: #333;
    content: "\f0c9";
    font-family: "FontAwesome";
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
  }
  
  .btn-open:hover:after {
    color: #34B484;
  }
  
  .btn-close:after {
    color: #fff;
    content: "\f00d";
    font-family: "FontAwesome";
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
  }
  
  .btn-close:hover:after {
    color: #34B484;
  }
  
  /*overlay*/
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    z-index: 99;
    border-bottom: 1px solid #575757;
  }
  
  .wrap {
    color: #e9e9e9;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }
  
  .wrap ul.wrap-nav {
    text-transform: capitalize;
    padding: 150px 0px 100px;
  }
  
  .wrap ul.wrap-nav li {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    position: relative;
  }
  
  .wrap ul.wrap-nav li a {
    color: #34B484;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
  }
  
  .wrap ul.wrap-nav li a:hover {
    color: #f0f0f0;
  }
  
  .wrap ul.wrap-nav ul {
    padding: 20px 0;
  }
  
  .wrap ul.wrap-nav ul li {
    display: block;
    font-size: 13px;
    width: 100%;
    color: #e9e9e9;
  }
  
  .wrap ul.wrap-nav ul li a {
    color: #f0f0f0;
  }
  
  .wrap ul.wrap-nav ul li a:hover {
    color: #34B484;
  }
  
  #menu-btn {
    position: fixed;
  }