<div class="button" id="menu-btn">
  <a class="btn-open" href="#"></a>
</div>
<div class="overlay">
  <div class="wrap">
    <ul class="wrap-nav">
      <li>
        <a href="/">Welcome Page</a>
        <ul>
          <li>
            <a href="/main">Main Page</a>
          </li>
          <li>
            <a href="/vungtau">Vũng Tàu</a>
          </li>
          <li>
            <a href="/suoimo">Đồng Nai - Suối Mơ</a>
          </li>
          <li>
            <a href="/dalat">Đà Lạt</a>
          </li>
          <li>
            <a href="/video">Video</a>
          </li>
        </ul>
    </ul>
  </div>
</div>